server:
  port: 8083

spring:
  application:
    name: ms-notification
  datasource:
    url: jdbc:postgresql://localhost:5432/ms-email
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: challenge03.mail@gmail.com
    password: ************
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl: "TLSv1.2"

